// font
.font-cursive { font-family: $font-cursive !important; }
.font-accent { font-family: $font-accent !important; }
.font-sans-serif { font-family: $font-sans-serif !important; }

// font weight and italics
.font-weight-light { font-weight: $font-weight-light !important; }
.font-weight-normal { font-weight: $font-weight-normal !important; }
.font-weight-bold { font-weight: $font-weight-bold !important; }
.font-italic { font-style: italic !important; }

// Alignment
.text-justify { text-align: justify !important; }
.text-nowrap { white-space: nowrap !important; }
.text-center { text-align: center !important; }
.text-right { text-align: right !important; }
.text-left { text-align: left !important; }

// Transformation
.text-lowercase { text-transform: lowercase !important; }
.text-uppercase { text-transform: uppercase !important; }
.text-capitalize { text-transform: capitalize !important; }

// misc
.comment,
.help {
  font-size: .8em;
  color: $text-color-muted;
}

.text-truncate { @include text-truncate(); }
.text-hide { @include text-hide(); }
