//======================================================================
// Chip
//======================================================================
.chip {
  // local variables.
  $_chip-size: $chip-height;

  display: inline-block;
  height: $chip-height;
  padding: 0 $_chip-size / 2;
  margin-right: $_chip-size / 4;
  margin-bottom: $_chip-size / 4;
  font-size: $chip-font-size;
  line-height: strip-unit($_chip-size);
  background-color: $chip-bg-color;
  border-radius: $_chip-size;

  img {
    float: left;
    width: $_chip-size;
    height: $_chip-size;
    margin-right: $_chip-size / 4;
    margin-left: -$_chip-size / 2;
    border-radius: 50%;
  }
}

a.chip {
  @include no-decoration;
  color: inherit;
  transition: box-shadow $transition-time;

  &:hover,
  &:focus {
    box-shadow: $shadow-near;
  }
}
