.close-button {
  @extend %btn-common;
  padding: 0;
  margin: 0;
  color: currentColor;
  vertical-align: inherit;
  line-height: 0;
  background-color: transparent;
  opacity: .5;
  @include transition(opacity $transition-duration $transition-timing-function);

  &:hover {
    opacity: 1;
  }

  &.at-corner {
    position: absolute;
    @include position-top-right(.5em);
  }

  &.at-right-middle {
    position: absolute;
    @include position-middle-right(.5em);
  }
}
