.close-button {
  @extend %btn-common;
  padding: 0;
  margin-left: .25em;
  color: $close-button-color;
  vertical-align: baseline;
  background-color: transparent;
  box-sizing: content-box;
  @include transition(color $transition-duration $transition-timing-function);

  &:hover {
    color: inherit;
  }

  &.at-corner {
    position: absolute;
    top: .5em;
    right: .5em;
  }

  &.at-right-middle {
    position: absolute;
    top: 50%;
    right: 1em;
    transform: translateY(-50%);
  }
}
