.collapse-toggle {
  @include btn-base;
  position: relative;

  > span {
    display: inline-block;
  }

  > .moss-icon {
    margin-right: .25em;
    @include transition(transform $transition-duration $transition-timing-function);
  }

  &[data-expanded="true"] .moss-icon {
    transform: rotate(.25turn);
  }
}

// transition.
.collapsing-enter-active,
.collapsing-leave-active {
  overflow: hidden;
  @include transition(
    max-width $transition-duration $transition-timing-function,
    max-height $transition-duration $transition-timing-function
  );
}
