//======================================================================
// Color-set
//======================================================================

$color-set: (
  default: $default-color, // It's half value of background-color and background-color-invert.
  primary: $primary-color,
  secondary: $secondary-color,
  info: $info-color,
  success: $success-color,
  warning: $warning-color,
  danger: $danger-color,
  error: $danger-color,
  light: $light-color,
  dark: $dark-color,
  shade: $shade-color,
  link: $link-color,
);

// get color value from color-set map
// @param  string  $key
// @return string  color value
@function get-color($key) {
  @return map-get($color-set, $key);
}
