$_stroke-color: $text-color-light;
$_fill-color: $primary-color;
$_border-width: .0625em;
$_border-color: $background-color;
$_focus-color: $primary-color;
$_size: 1em;

.input-radio {
  @extend %custom-label;

  input[type="radio"] {
    position: absolute;
    opacity: 0;

    &:checked ~ .input-box > .input-box-circle {
      width: 50%;
      height: 50%;
      opacity: 1;
    }

    &:focus ~ .input-box,
    &:active ~ .input-box {
      box-shadow: 0 0 0 $_border-width $_focus-color;
    }
  }

  .input-box {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: $_size;
    height: $_size;
    padding: 0;
    margin: 0;
    overflow: hidden;
    vertical-align: middle;
    background: $_fill-color;
    border: $_border-width solid $_border-color;
    border-radius: 50%;
    box-sizing: content-box;
    user-select: none;

    > .input-box-circle {
      width: 0%;
      height: 0%;
      background: $_stroke-color;
      border-radius: 50%;
      opacity: 0;
      transition: width .15s ease-in, height .15s ease-in;
    }
  }
}
