@mixin _message-box($bg-color) {
  $color: get-contrast($bg-color);

  color: $color;
  background-color: $bg-color;

  .btn-close-message {
    color: $color;
    background-color: transparent;
    transition: color $transition-time;

    &:hover {
      $_hover-color: rgba(#000, .3);
      color: $_hover-color;
    }
  }
}

//======================================================================
// Message
//======================================================================
.message-box {
  // default color
  @include _message-box($message-box-default-bg-color);
  // common attributes.
  position: relative;
  z-index: $z-index-message-box;
  padding: $message-box-padding-y $message-box-padding-x;
  margin: $message-box-margin;
  vertical-align: middle;
  border-radius: $radius-normal;
  transition: opacity ($transition-time * 2);

  .btn-close {
    font-size: 1.5rem;
  }

  // each color-set
  @each $name, $color in $color-set {
    &.#{$name} {
      @include _message-box($color);
    }
  }
}
