.search-component {
  .search-form button[type="submit"] {
    @include btn-color($search-button-bg-color);
  }
}

.search-result-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border: $search-result-border-width solid $search-result-border-color;
  background-color: $search-result-bg-color;
  z-index: 10;

  > li {
    text-align: center;
    cursor: pointer;

    &:not(:last-child) {
      border-bottom: $search-result-border-width solid $search-result-border-color;
    }

    &:focus {
      background-color: $search-result-item-focus-color;
    }
  }
}
