@mixin _tab-link-colors() {
  @each $name, $color in $color-set {
    &.#{$name} {
      color: $color;
      border-bottom-color: $color;
    }
  }
}

//======================================================================
// Tab
//======================================================================
.tabs {
  @include reset-list;
  display: flex;
  align-items: flex-end;
  font-family: $tab-font;
  font-size: $tab-font-size;
  border-bottom: $tab-border-width solid $tab-border-color;

  li {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 1;
  }
}

.tab-link {
  @include no-decoration;
  @include set-link-state-color($tab-color, null, $tab-hover-color, $tab-active-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .5em 1em;
  margin-bottom: -$tab-border-width;
  border-bottom: $tab-active-border-width solid transparent;

  &.active {
    @include _tab-link-colors();
    font-weight: $tab-active-font-weight;
    color: $tab-active-color;
    cursor: default;
    border-bottom-color: $tab-active-color;
  }
}

// effect
@include vue-fade('tab-fade', '1s', '0');
