h3 Tag Chip
<chip title="tag-sample">TagSample</chip>
<chip closeable>TagSample</chip>

h3 Contact Chip
chip(img-src=imageAvt img-alt='person') John Doe
chip(img-src=imageAvt img-alt='person' closeable) John Doe

h3 Link Chip
chip(tag='a' href='#' closeable) TagSample
chip(tag='a' href='#' img-src=imageAvt img-alt='person' closeable) John Doe

h3 Colored Chip
chip(tag='span' color='#ffa500') Orange
chip(img-src=imageAvt img-alt='avatar' color='#69c' closeable) Colored
