h3 close-btn
span test text<close-btn>✖</close-btn>
br
span(class='badge') Badge<close-btn action="remove">✖</close-btn>
div(class='pad bg-color-secondary')
  p=lorem
  <close-btn position="top-right" parent-relatived>✖</close-btn>
