h2 Convert Color Value
input(id='input-hex-color' class='inline' type='text' value='#fff')
button(type='button' class='btn success' onclick='convertColor(true);') hexToRgb
button(type='button' class='btn success' onclick='convertColor(false);') rgbToHex
input(id='input-rgb-color' class='inline' type='text' value='255,255,255')

h2 lightness
input(id='input-lightness' class='inline' type='text' value='#888')
button(type='button' class='btn info' onclick='getLightness();') lightness
p(class='pad bg-color-secondary' id='output-lightness')

h2 contrast
input(id='input-contrast' class='inline' type='text' value='#888')
button(type='button' class='btn info' onclick='getContrast();') contrast
p(class='pad' id='output-contrast')
