h3 Toggle Dropdown
div(is='dropdown' class='dropdown' align='center')
  button(class='btn' slot='button') TOGGLE
  a.dropdown-item.active(href='#') hello
  a.dropdown-item(href='#') drop
  a.dropdown-item(href='#') down

h3 Hover Dropdown
dropdown(toggle='hover')
  button(class='btn info' slot='button') HOVER
  dropdown-item(href='#') hello
  dropdown-item(href='#') drop
  dropdown-item(href='#') down

h3 Dropdown Content Alignment
div(style='display:flex;width:100%;justify-content:space-between;')
  dropdown(toggle='hover' align='left')
    button(class='btn success' slot='button') LEFT
    dropdown-item(href='#') hello
    dropdown-item(href='#') drop
    dropdown-item(href='#') down

  dropdown(toggle='hover' align='center')
    button(class='btn secondary' slot='button') CENTER
    dropdown-item(href='#') hello
    dropdown-item(href='#') drop
    dropdown-item(href='#') down

  dropdown(toggle='hover' align='right')
    button(class='btn warning' slot='button') RIGHT
    dropdown-item(href='#') hello
    dropdown-item(href='#') drop
    dropdown-item(href='#') down
