h2 .list
ul(class='list')
  li list item 1
  li list item 2
  li list item 3
h2 .list-group
ul(class='list-group hover')
  li list item 1
  li list item 2
  li list item 3
h2 .list-horizontal
ul(class='list-horizontal')
  li list item 1
  li list item 2
  li list item 3
h2 .breadcrumb
ul(class='breadcrumb')
  li
    a(href='#') src
  li
    a(href='#') scss
  li
    a(href='#') components
  li list
