h3 Message box
div(class='message-box')
  span This is message box.
  button(class='btn-close at-right-middle')
    i(class="fa fa-times" aria-hidden="true")
each color in colorSet
  div(class='message-box '+color)
    span= 'This is ' + color + ' message box.'
    button(class='btn-close at-right-middle')
      i(class="fa fa-times" aria-hidden="true")
h2 showMessage()
div(id='message-container')
div
  input(type='text' id='input-msg' class='inline')
  button(type='button' id='btn-msg' class='btn') show message
<script>
| var b = document.querySelector('#btn-msg');
| b.onclick = function () {
|   var i = document.querySelector('#input-msg');
|   showMessage(i.value);
| };
</script>
