h3 navbar
div(class='group')
  nav(class='navbar bg-color-dark')
    div(class='navbar-header')
      a(class='navbar-brand text' href='#') Navbar
      button(class='navbar-toggle right' type='button') Toggle Navigation
    div(class='navbar-body justify-content-between')
      ul(class='navbar-nav')
        li(class='nav-item')
          a(class='nav-link' href='#') link1
        li(class='nav-item active')
          a(class='nav-link' href='#') link2
        li(class='nav-item')
          div(class='dropdown')
            button(class='dropdown-toggle') dropdown
            div(class='dropdown-content' data-align='center')
              a(class='dropdown-item' href='#') link 1
              a(class='dropdown-item' href='#') link 2
              a(class='dropdown-item' href='#') link 3
      ul(class='navbar-nav')
        li(class='nav-item')
          a(class='nav-link' href='#') right
        li(class='nav-item')
          a(class='nav-link' href='#') logout
