div(class='parallax')
  img(src=imageSrc[0])
<div class="flex-center-container" style="background-color:gray;height:250px;">
  div
    h2 Content
    p content here...
</div>
div(class='parallax' data-height='300')
  img(src=imageSrc[1])
<div class="flex-center-container" style="height:300px;">
  div
    h2 Content
    p content here...
</div>
div(class='parallax' data-height='400')
  img(src=imageSrc[2])
