div(class='row')
  div(class='col-3 pad')
    span(class='tooltip' aria-label='tooltip-top (default)') Top
  div(class='col-3 pad')
    span(class='tooltip tooltip-bottom' aria-label='tooltip-bottom style') Bottom
  div(class='col-3 pad')
    span(class='tooltip tooltip-left' aria-label='tooltip-left style') Left
  div(class='col-3 pad')
    span(class='tooltip tooltip-right' aria-label='tooltip-right style') Right
