h3 Basic
ul.tree-list.no-pad
  li(is='tree-item' :model='treeData')

h3 Model name as html
ul.tree-list.no-pad
  li(is='tree-item' :model='treeData2')

h3 Set icon
ul.tree-list.no-pad
  li(is='tree-item' :model='treeData' opened-html='[-] ' closed-html='[+] ')
