@mixin arrow($direction: 'down') {
  display: inline-block;
  vertical-align: middle;
  padding: .19em;
  border-style: solid;
  border-width: 0 .19em .19em 0;
  content: '';
  @include arrow-direction($direction);

  &.up {
    @include arrow-direction('up');
  }

  &.right {
    @include arrow-direction('right');
  }

  &.down {
    @include arrow-direction('down');
  }

  &.left {
    @include arrow-direction('left');
  }
}

@mixin arrow-direction($direction) {
  @if $direction == 'up' {
    transform: rotate(-135deg);
  } @else if $direction == 'right' {
    transform: rotate(-45deg);
  } @else if $direction == 'down' {
    transform: rotate(45deg);
  } @else if $direction == 'left' {
    transform: rotate(135deg);
  }
}
