@mixin btn-base {
  @include no-decoration;
  line-height: 1.15;
  white-space: nowrap;
  border: 0;
  cursor: pointer;
  user-select: none;
}

@mixin reset-btn {
  background-color: transparent;
  text-align: inherit;
  border: 0;
  cursor: pointer;
  user-select: none;
}

@mixin btn-color($bg-color, $color: $button-color) {
  @if $auto-button-color-enable {
    $color: get-contrast($bg-color);
  }

  color: $color;
  background-color: $bg-color;
  outline-color: $bg-color;
  @include transition(
    background-color $transition-duration $transition-timing-function,
    box-shadow $transition-duration $transition-timing-function
  );

  &:link,
  &:visited {
    color: $color;
  }

  &:focus:not([disabled]),
  &:hover:not([disabled]) {
    color: $color;
    background-color: lighten($bg-color, 4%);
    @include box-shadow($shadow-normal);
  }

  &:active:not([disabled]) {
    color: $color;
    background-color: darken($bg-color, 4%);
    @include box-shadow($shadow-near);
  }
}

@mixin btn-flat-color($color) {
  color: $color;
  background-color: transparent;
  outline-color: rgba($color, .2);
  @include transition(
    color $transition-duration $transition-timing-function,
    background-color $transition-duration $transition-timing-function
  );

  &:focus:not([disabled]),
  &:hover:not([disabled]) {
    color: $color;
    background-color: rgba($color, .1);
  }

  &:active:not([disabled]) {
    color: $color;
    background-color: rgba($color, .2);
  }
}
