// used for %link-no-deco
@mixin no-decoration {
  text-decoration: none;

  &:focus,
  &:hover {
    text-decoration: none;
  }
}

// set link state color
@mixin set-link-state-color($link, $visited: null, $hover: null, $active: null) {
  &,
  &:link {
    color: $link;
  }

  &:visited {
    color: if($visited, $visited, $link);
  }

  &:hover,
  &:focus {
    color: if($hover, $hover, $link);
  }

  &:active {
    color: if($active, $active, $link);
  }
}

// clear-both
@mixin clear-both {
  &::after {
    display: block;
    clear: both;
    content: '';
  }
}

// debug outline
@mixin debug {
  * {
    $_outline-color: rgba(#f00, .5);
    outline: 1px solid $_outline-color;
  }
}

// All headings, h1-h6.
@mixin headings {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @content;
  }
}
