h2 Default Badge
  span(class='badge') Badge
  a(class='badge' href='#') BADGE

h3 in Text
span text with
  span(class='badge') badge
  span(class='badge primary') Primary
  span(class='badge danger') Danger

h3 in Button
button(class='btn') Button
  span(class='badge info') 3
button(class='btn warning') Normal

h3 in Link
a(href='#') Link
  span(class='badge success') New
br
a(href='#' class='badge danger') Link badge

h2 Rounded Badge
span text and
  span(class='badge round info') 13
br
a(href='#' class='badge round warning') rounded badge
