h2 Default Badge
  span(class='badge') Badge
  a(class='badge' href='#') BADGE

h3 in Text
span text with
  span(class='badge') badge
  span(class='badge primary') Primary
  span(class='badge danger') Danger

h3 in Button
button(class='btn') Button
  span(class='badge info') 3
button(class='btn warning') Normal

h3 in Link
a(href='#') Link
  span(class='badge success') New
br
a(href='#' class='badge danger') Link badge

h2 Rounded Badge
span text and
  span(class='badge round info') 13
br
a(href='#' class='badge round warning') rounded badge

h2 Badge with Stacked Font Awesome Icon

blockquote.pad.danger @deprecated in v0.5.x

div.fa-4x
  span(class='fa-layers fa-fw')
    <i class="fas fa-square"></i>
    <i class="fas fa-bell fa-inverse" data-fa-transform="shrink-6"></i>
    span(class='badge in-icon danger') 8,888

  span(class='fa-layers fa-fw color-primary')
    <i class="fas fa-circle"></i>
    <i class="fas fa-envelope fa-inverse" data-fa-transform="shrink-6"></i>
    span(class='badge in-icon rounded warning') 8,888

span(class='fa-stack fa-lg')
  i(class='fa fa-square fa-stack-2x')
  i(class='fa fa-bell fa-stack-1x fa-inverse')
  span(class='badge in-icon danger') 8,888

span(class='fa-stack fa-2x color-primary')
  i(class='fa fa-circle fa-stack-2x')
  i(class='fa fa-envelope fa-stack-1x fa-inverse')
  span(class='badge in-icon rounded warning') 8,888
