h3 Default Buttons with Color-set
button(class='btn') btn
each color in colorSet
  button(class='btn '+color)= color

h3 Flat button
button(class='btn-flat') btn-flat
each color in colorSet
  button(class='btn-flat '+color)= color

h3 Other tag as button
input(type='submit')
a(href='#button' class='btn info') link button
br
a(href='#' class='btn-flat') link flat button

h3 Icon Button
button(class='btn-icon')
  <i class="fas fa-calendar"></i>
button(class='btn-icon primary')
  <i class="fas fa-home"></i>
button(class='btn-icon secondary')
  <i class="fas fa-user"></i>
button(class='btn-icon info')
  <i class="fas fa-comment"></i>
button(class='btn-icon success')
  <i class="fas fa-code"></i>
button(class='btn-icon warning')
  <i class="fas fa-exclamation"></i>
button(class='btn-icon danger')
  <i class="fas fa-times"></i>

h3 Disabled
button(class='btn' disabled) btn
button(class='btn-flat' disabled) btn-flat
button(class='btn-icon danger' disabled)
  <i class="fas fa-times"></i>

h3 Button Group
h4 Horizontal Button Group (default)
div(class='btn-group')
  button(class='btn') Left
  button(class='btn info') Center
  button(class='btn dark') Right
h4 Group of Flat Buttons
div(class='btn-group')
  button(class='btn-flat') Left
  button(class='btn-flat') Center
  button(class='btn-flat') Right
h4 Vertical Button Group
div(class='btn-group-vertical')
  button(class='btn') Top
  button(class='btn') Middle
  button(class='btn') Bottom
h4 with Dropdown buttons
div(class='btn-group')
  button(class='btn success') Left
  button(class='btn') Center
  button(class='btn') Right
  dropdown
    button(class='btn' slot='button') Dropdown
    a.dropdown-item(href='#') Link 1
    a.dropdown-item(href='#') Link 2
    a.dropdown-item(href='#') Link 3
br
div(class='btn-group-vertical')
  button(class='btn default') Top
  button(class='btn shade') Middle
  dropdown(placement='right-start')
    button(class='btn dark' slot='button') Dropdown
    a.dropdown-item(href='#') Link 1
    a.dropdown-item(href='#') Link 2
    a.dropdown-item(href='#') Link 3
  button(class='btn success') Bottom
