blockquote.pad.info This component uses <a href="https://github.com/lukaszflorczak/vue-agile">vue-agile</a>.

h2 Basic usage
carousel(autoplay :autoplay-speed='5000')
  template(slot='prevButton')
    icon(name='arrow-left')
  template(slot='nextButton')
    icon(name='arrow-right')
  div.slide.d-flex.justify-content-center.align-items-center.bg-warning(style='height:300px;')
    h3 SLIDE1
  div.slide.d-flex.justify-content-center.align-items-center.bg-primary(style='height:300px;')
    h3 SLIDE2
  div.slide.d-flex.justify-content-center.align-items-center.bg-dark(style='height:300px;')
    h3 SLIDE3
