h2 Default Usage
form
  fieldset
    legend Form
    div.mb-3
      label(for='name') Name
      input(type='text' id='name' name='name' placeholder='name')
    div.mb-3
      label(for='password') Password
      input(type='password' id='password' name='password')
    div.mb-3
      label(for='email') Email
      input(type='email' id='email' name='email' placeholder='user@example.com')
    div.mb-3
      label Disabled and Readonly
      input(type='text' value='disabled' disabled)
      input(type='text' value="readonly" readonly)
    div.mb-3
      label
        input(type='checkbox')
        span checkbox
    div.mb-3
      label
        input(type='radio' name='gender' value='0' checked)
        span male
      br
      label
        input(type='radio' name='gender' value='1')
        span female
    div.mb-3
      input(type='file')
      input(type='range')
      input(type='color')
    div.mb-3
      select(name='select')
        option(value='0') one
        option(value='1') two
        option(value='2') three
    div.mb-3
      textarea
        | hello, world!
    div.mb-3
      button(type='submit' class='btn') Submit

h2 Form Inline
form(class='form-inline')
  fieldset.success
    legend Form inline
    label(for='name') Name
    input(type='text' id='name' name='name' placeholder='name')
    label(for='password') Password
    input(type='password' id='password' name='password')
    label(for='email') email
    input(type='email' placeholder='user@example.com')
    label disabled and readonly
    input(type='text' value='disabled' disabled)
    input(type='text' value='readonly' readonly)
    label
      input(type='checkbox')
      span checkbox
    label
      input(type='radio' name='gender' value='0' checked)
      span male
    label
      input(type='radio' name='gender' value='1')
      span female
    input(type='file')
    input(type='range')
    input(type='color')
    select(name='select')
      option(value='0') one
      option(value='1') two
      option(value='2') three
    textarea
      | hello, world!
    button(type='submit' class='btn') Submit

h2 Vertical Alignment
form(class='form-inline')
  fieldset.info
    legend.font-weight-normal Select
    select(name='select')
      option(value='1') option1
      option(value='2') option2
      option(value='3') option3
    input(type='text' placeholder='text')
    input(type='date')

h2 Input with Color-set
div.row
  div.col-md.group
    input(type='text' placeholder='default')
  div.col-md.group
    input.success(type='text' placeholder='success')
  div.col-md.group
    input.warning(type='text' placeholder='warning')
  div.col-md.group
    input.danger(type='text' placeholder='danger')

div.input.inline.with-icon-right
  input.danger(type='text' placeholder='wrong..')
  span.icon-right.color-danger
    <i class="fas fa-exclamation-triangle"></i>
div.input.inline.with-icon-right
  input.danger(type='text' placeholder='Disabled' disabled)
  span.icon-right.color-default
    <i class="fas fa-exclamation-triangle"></i>

h2 Input with Icons
h3 Default
div.input.with-icon
  input(type='text' placeholder='Text me..')
  span.icon
    <i class="fas fa-comment-alt"></i>

h3 Icon positioning left or right or both
div.input.with-icon-right.group
  input(type='text' placeholder='Text me..')
  span.icon-right
    <i class="fas fa-comment-alt"></i>
div.input.with-icon-left.group
  input(type='search' placeholder='Search..')
  span.icon-left
    <i class="fas fa-search"></i>
div.input.with-icon-left.with-icon-right.group
  input(type='text' placeholder='Email..')
  span.icon-left
    <i class="fas fa-envelope"></i>
  span.icon-right
    <i class="fas fa-check"></i>

h3 Inline input
div.input.inline.with-icon-left.with-icon-right
  input(type='text' class='inline' placeholder='Email..')
  span.icon-left
    <i class="fas fa-envelope"></i>
  span.icon-right.color-success
    <i class="fas fa-check"></i>

h3 Input sizes
div.input.inline.with-icon.font-small
  input(type='text' placeholder='Text me..')
  span.icon
    <i class="fas fa-comment-alt"></i>
div.input.inline.with-icon
  input(type='text' placeholder='Text me..')
  span.icon
    <i class="fas fa-comment-alt"></i>
div.input.inline.with-icon.font-large
  input(type='text' placeholder='Text me..')
  span.icon
    <i class="fas fa-comment-alt"></i>

h2 Form Grid

p Special replacement for <code>.row</code> for tighter form layouts.

h3 <code>.row</code>
.row.bg-color-shade
  .col
    input(placeholder='First name')
  .col
    input(placeholder='Last name')

h3 <code>.form-row</code>
.form-row.bg-color-shade
  .col
    input(placeholder='First name')
  .col
    input(placeholder='Last name')

h2 Form Validation

blockquote.info.py-2
  div This feature is referenced from the bootstrap. <a href="https://getbootstrap.com/docs/4.1/components/forms/#validation" target="_blank">see here for more information.</a>

p Provide feedback to users when form field values are valid or invalid.

h3 HTML5 constraint validation

form.was-validated
  .form-row
    .col-md-4.mb-3
      label(for="formValidation01") First name
      input(type="text" id="formValidation01" placeholder="First name" value="John" required)
      .valid-feedback Looks good!
    .col-md-4.mb-3
      label(for="formValidation02") Last name
      input(type="text" id="formValidation02" placeholder="Last name" value="Doe" required)
      .valid-feedback Looks good!
    .col-md-4.mb-3
      label(for="formValidation03") Username
      .input-group
        .input-group-prepend
          span.input-group-text @
        input(type="text" id="formValidation03" placeholder="Username" required)
        .invalid-feedback Please choose a username.
    .col-md.mb-3
      input#formValidation04(type="checkbox" required)
      label(for="formValidation04") Agree to terms and conditions
      .invalid-feedback You must agree before submitting.

h3 Sever side

form
  .form-row
    .col-md-4.mb-3
      label(for="formValidation05") First name
      input(type="text" class="is-valid" id="formValidation05" placeholder="First name" value="John" required)
      .valid-feedback Looks good!
    .col-md-4.mb-3
      label(for="formValidation06") Last name
      input(type="text" class="is-valid" id="formValidation06" placeholder="Last name" value="Doe" required)
      .valid-feedback Looks good!
    .col-md-4.mb-3
      label(for="formValidation07") Username
      .input-group
        .input-group-prepend
          span.input-group-text @
        input(type="text" class="is-invalid" id="formValidation07" placeholder="Username" required)
        .invalid-feedback Please choose a username.
    .col-md.mb-3
      label(for="fomValidation09") File Upload
      input#fomValidation09(type="file" class="is-invalid")
      .invalid-feedback The file must be an image.
    .col-md.mb-3
      input#formValidation08(type="checkbox" class="is-invalid" required)
      label(for="formValidation08") Agree to terms and conditions
      .invalid-feedback You must agree before submitting.
    .col-md.mb-3
      input#formValidation10(type="color" class="is-valid")
      label(for="formValidation10") Main color
      .valid-feedback It is good!
