h2 Default Usage
form
  fieldset
    legend Form
    div(class='form-group')
      label(for='name') Name
      input(type='text' id='name' name='name' placeholder='name')
    div(class='form-group')
      label(for='password') Password
      input(type='password' id='password' name='password')
    div(class='form-group')
      label(for='email') email
      input(type='email' id='email' name='email' disabled placeholder='read only')
      input(type='email' id='email' name='email' readonly placeholder='read only')
    div(class='form-group')
      label checkbox
        input(type='checkbox')
    div(class='form-group')
      label
        input(type='radio' name='gender' value='0' checked)
        | male
      br
      label
        input(type='radio' name='gender' value='1')
        | female
    div(class='form-group')
      input(type='file')
      input(type='range')
      input(type='color')
    div(class='form-group')
      select(name='select')
        option(value='0') one
        option(value='1') two
        option(value='2') three
    div(class='form-group')
      textarea
        | hello, world!
    div(class='form-group')
      button(type='submit' class='btn') Submit

h2 Form Inline
form(class='form-inline')
  fieldset
    legend Form inline
    label(for='name') Name
    input(type='text' id='name' name='name' placeholder='name')
    label(for='password') Password
    input(type='password' id='password' name='password')
    label(for='email') email
    input(type='email' id='email' name='email' disabled placeholder='read only')
    input(type='email' id='email' name='email' readonly placeholder='read only')
    label checkbox
    input(type='checkbox')
    label
      input(type='radio' name='gender' value='0' checked)
      | male
    label
      input(type='radio' name='gender' value='1')
      | female
    input(type='file')
    input(type='range')
    input(type='color')
    select(name='select')
      option(value='0') one
      option(value='1') two
      option(value='2') three
    textarea
      | hello, world!
    button(type='submit' class='btn') Submit

h2 Vertical Alignment
form(class='form-inline')
  fieldset
    legend Select
    select(name='select')
      option(value='1') option1
      option(value='2') option2
      option(value='3') option3
    input(type='text' placeholder='text')
    input(type='date')

h2 Input with Color-set
div.row
  div.col-md.group
    input(type='text' placeholder='default')
  div.col-md.group
    input.success(type='text' placeholder='success')
  div.col-md.group
    input.warning(type='text' placeholder='warning')
  div.col-md.group
    input.danger(type='text' placeholder='danger')

div.input.inline.with-icon-right
  input.danger(type='text' placeholder='wrong..')
  span.icon-right.color-danger
    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
div.input.inline.with-icon-right
  input.danger(type='text' placeholder='Disabled' disabled)
  span.icon-right.color-default
    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>

h2 Input with Icons
h3 Default
div.input.with-icon
  input(type='text' placeholder='Text me..')
  span.icon
    <i class="fa fa-commenting" aria-hidden="true"></i>

h3 Icon positioning left or right or both
div.input.with-icon-right.group
  input(type='text' placeholder='Text me..')
  span.icon-right
    <i class="fa fa-commenting" aria-hidden="true"></i>
div.input.with-icon-left.group
  input(type='search' placeholder='Search..')
  span.icon-left
    <i class="fa fa-search" aria-hidden="true"></i>
div.input.with-icon-left.with-icon-right.group
  input(type='text' placeholder='Email..')
  span.icon-left
    <i class="fa fa-envelope" aria-hidden="true"></i>
  span.icon-right
    <i class="fa fa-check" aria-hidden="true"></i>

h3 Inline input
div.input.inline.with-icon-left.with-icon-right
  input(type='text' class='inline' placeholder='Email..')
  span.icon-left
    <i class="fa fa-envelope" aria-hidden="true"></i>
  span.icon-right.color-success
    <i class="fa fa-check" aria-hidden="true"></i>

h3 Input sizes
div.input.inline.with-icon.font-small
  input(type='text' placeholder='Text me..')
  span.icon
    <i class="fa fa-commenting" aria-hidden="true"></i>
div.input.inline.with-icon
  input(type='text' placeholder='Text me..')
  span.icon
    <i class="fa fa-commenting" aria-hidden="true"></i>
div.input.inline.with-icon.font-large
  input(type='text' placeholder='Text me..')
  span.icon
    <i class="fa fa-commenting" aria-hidden="true"></i>
