h2 Default usage
div.my-4(style='font-size:3em;')
  i.moss-icon#svg-arrow-example
  i.moss-icon#svg-caret-example
  i.moss-icon#svg-close-example

h2 Icon component
icon(name='alert-circle' class='text-danger')
icon(name='arrow-down' class='text-danger')
span  hello world
icon(name='caret-up' class='text-success')
span.d-inline-block InlineBlock
icon(name='close' class='bg-dark' style='font-size:3em;border-radius:50%;')
icon(name='check' class='bg-warning' style='font-size:2em;')
icon(name='search' class='bg-link' style='font-size:2em;')

h2 User expanded custom icons
icon(name='moss-icon' class='text-primary' style='font-size:4em;')
icon(name='extension' class='text-dark' style='font-size:1.5em;')
icon(name='verified-user' class='text-link' style='font-size:2em;')

h2 Icon list
icon-list
