h2 Default usage
div.my-4(style='font-size:3em;')
  i.moss-icon#svg-arrow-example
  i.moss-icon#svg-caret-example
  i.moss-icon#svg-close-example

h2 Icon component
icon(name='arrow-down' class='color-danger')
span  hello world
icon(name='caret-up' class='color-success')
span.d-inline-block InlineBlock
icon(name='close' class='bg-color-dark' style='font-size:3em;border-radius:50%;')
icon(name='check' class='bg-color-warning' style='font-size:2em;')
icon(name='search' class='bg-color-link' style='font-size:2em;')

h2 User expanded custom icons
icon(name='moss-icon' class='color-primary' style='font-size:4em;')
icon(name='extension' class='color-dark' style='font-size:1.5em;')
icon(name='verified-user' class='color-link' style='font-size:2em;')

h2 Icon list
icon-list
