p Extend form controls by adding text, buttons.

div.input-group.mb-2
  div.input-group-prepend
    span.input-group-text @
  input(type='text' placeholder='Username')
div.input-group.mb-2
  input(type='text' placeholder='Recipient')
  div.input-group-append
    span.input-group-text @example.com
div.input-group.mb-2
  input(type='text' placeholder='Query')
  div.input-group-append
    button.btn.success Send
.input-group.mb-2
  .input.with-icon-left
    span.icon-left
      icon(name='search')
    input(type='search' placeholder='Search..')
  .input-group-append
    button.btn.link(type='submit') Search
