div(class='pad flex-center-container bg-color-success')
  div(class='align-center')
    span(class='loader-one light' style='font-size:3em;')
    br
    span loading...
h2 Button is loading
button(id='toggle' class='btn primary is-loading') loading..
button(class='btn warning is-loading') loading
