h3 Basic
message hello

h3 With status color
each color in colorSet
  message(status=color)
    span= 'This is ' + color + ' message box.'

h3 Message Box
div
  input(type='text' id='input-msg' class='inline')
  select(id='select-msg' class='inline')
    option(value='default') default
    option(value='info') info
    option(value='success') success
    option(value='warning') warning
    option(value='danger') danger
  button(type='button' class='btn' onclick="showMessage()") show message
message-box(close-html='<i class="fas fa-times-circle"></i>')
