h3 Basic
button(class='btn warning' onclick='Moss.modal.toggle("test-modal")') Trigger
modal(name='test-modal')
  h3 Test
  p=lorem

h3 Close when another clicked
button(class='btn success' onclick='Moss.modal.show("test-modal2")') Trigger
modal(name='test-modal2' title='Close when another clicked' close-on)
  p=lorem

h3 Set custom header
button.btn.danger(onclick='Moss.modal.show("test-modal5")') Open modal
modal(name='test-modal5' title='fake title' effect='fade')
  div.modal-header(slot='header')
    h3.color-danger Custom Title
    button.btn-text(data-toggle='close')
      icon(name='close')
  p=lorem

h3 with Actions
button(class='btn' onclick='Moss.modal.toggle("test-modal3")') Trigger
modal(name='test-modal3' title='with Actions')
  div.p-3
    input(name='title' placeholder='test me..')
  div(slot='actions')
    button(class='btn default' data-toggle='close') Cancel
    button(class='btn success') OK

h3 Icon close button
button(class='btn info' onclick='Moss.modal.toggle("test-modal4")') Trigger
modal(name='test-modal4' title='Icon close button' close-button-html='<i class="fas fa-times"></i>' close-on)
  p=lorem
  div(slot='actions')
    button(class='btn success' onclick='Moss.modal.close("test-modal4")') Okay

h3 Transition Effects

button.btn.default(onclick='Moss.modal.show("test-modal6")') from-top (default)
modal(name='test-modal6' title='From-top' close-on)
  p.text-center <code>from-top</code> effect.

button.btn.info(onclick='Moss.modal.show("test-modal7")') fade
modal(name='test-modal7' title='Fade' effect='fade' close-on)
  p.text-center <code>fade</code> effect.

button.btn.link(onclick='Moss.modal.show("test-modal8")') no-effect
modal(name='test-modal8' title='No effect' effect='' close-on)
  p.text-center No transition effect.
