h3 Basic
navbar(class='bg-dark' align='start')
  navbar-nav
    nav-item(href='#') Link1
    nav-item(href='#') <span>Link2</span>
    nav-item
      dropdown
        button(slot='button') Dropdown
        a.dropdown-item(href='#') link 1
        a.dropdown-item(href='#') link 2
        a.dropdown-item(href='#') link 3
  navbar-nav
    nav-item(href='#' text='about')
    nav-item(href='#' text='logout')

h3 Multiple Navs
navbar(class='bg-warning rounded shadow-near' align='between' header-align='start' :header-style="{ height: '4rem' }")
  navbar-brand(href='#' type='image' slot="brand" class='ml-2')
    img(src=imageAvt style='width:30px;height:30px;')
  navbar-nav
    nav-item(href='#' text='link1')
    nav-item(href='#' text='link2')
    nav-item
      dropdown
        button(slot='button') Dropdown
        a.dropdown-item(href='#') link 1
        a.dropdown-item(href='#') link 2
        a.dropdown-item(href='#') link 3
  navbar-nav
    nav-item(href='#' text='about')
    nav-item(href='#' text='logout')
