ul(class='pagination')
  li(class='disabled')
    span Prev
  li
    a(href='#') 1
  li
    a(href='#') 2
  li(class='active')
    a(href='#') 3
  li
    a(href='#') 4
  li
    a(href='#') 5
  li
    a(href='#') Next

ul.pagination
  li
    a(href='#') <i class="fa fa-chevron-left" aria-hidden="true"></i>
  li.disabled
    span &hellip;
  li
    a(href='#') 7
  li.active
    a(href='#') 8
  li
    a(href='#') 9
  li.disabled
    span &hellip;
  li
    a(href='#') <i class="fa fa-chevron-right" aria-hidden="true"></i>
