parallax(src=imageSrc[0])
.d-flex.justify-content-center.align-items-center.bg-color-shade(style='height:250px;')
  div
    h2 Content
    p content here...
parallax(src=imageSrc[1] height='300px')
.d-flex.justify-content-center.align-items-center(style='height:300px;')
  div
    h2 Content
    p content here...
parallax(src=imageSrc[2] height='20em')
