.mb-3
  .progress.mb-2
    .progress-bar
  .progress.mb-2
    .progress-bar(style='width:33%')
  .progress.mb-2
    .progress-bar(style='width:67%')
  .progress.mb-2
    .progress-bar(style='width:100%')

h2 Labels

.mb-3
  .progress
    .progress-bar(style='width:33%') 33%

h2 Height

.mb-3
  .progress.mb-2(style='height:1px')
    .progress-bar(style='width:50%')
  .progress.mb-2(style='height:20px')
    .progress-bar(style='width:50%')

h2 Backgrounds

.mb-3
  .progress.mb-2
    .progress-bar.bg-danger(style='width:33%')
  .progress.mb-2
    .progress-bar.bg-warning(style='width:67%')
  .progress.mb-2
    .progress-bar.bg-success(style='width:100%')

h2 Multiple bars

.progress.mb-3
  .progress-bar.bg-warning(style='width:12%') 12%
  .progress-bar.bg-info(style='width:20%') 20%
  .progress-bar.bg-success(style='width:9%') 9%

h2 Striped

.mb-3
  .progress.mb-2
    .progress-bar.progress-bar-striped(style='width:33%')
  .progress.mb-2
    .progress-bar.progress-bar-striped.bg-info(style='width:67%')
  .progress.mb-2
    .progress-bar.progress-bar-striped.bg-success(style='width:100%')

h2 Animated stripes

.progress.mb-3
  .progress-bar.progress-bar-striped.progress-bar-animated(style='width:50%') 50%
