p Simple search component that fuzzy search given collection data such like json.

h2 default
.row
  .col-lg-4.col-md-6
    search(
      :collection='collection'
      :search-options='searchOptions'
      :result-limit='5'
      auto-width
      @item-clicked='eventTest'
      @submit='eventTest'
    )

h2 Example Search
.row
  .col-lg-4.col-md-6
    search(
      :collection='collection'
      :search-options='searchOptions'
      :result-limit='5'
      auto-width
      @item-clicked='onSearchItemClick'
      @submit='onSearchSubmit'
    )
      li(
        slot='result-item'
        slot-scope='props'
        style='text-align:left;'
        tabindex='0'
        @click='props.onClickItem(props.item)'
      )
        h3(style='margin:0;' v-text='props.item.name')
        span.badge(:style='getBadgeStyle(props.item.category)' v-text="props.item.category")
        span.help(v-text='props.item.description')
