p Helper classes for specifying width or height of element.

h2 Width

div.w-25.p-3.bg-color-shade Width 25%
div.w-50.p-3.bg-color-shade Width 50%
div.w-75.p-3.bg-color-shade Width 75%
div.w-100.p-3.bg-color-shade Width 100%

h2 Height

div.d-flex.justify-content-around.bg-color-warning(style='height:150px;')
  div.h-25.px-3.bg-color-dark Height 25%
  div.h-50.px-3.bg-color-dark Height 50%
  div.h-75.px-3.bg-color-dark Height 75%
  div.h-100.px-3.bg-color-dark Height 100%
