p Helper classes for specifying margin or padding spacing to element.

h2 Margin

div.bg-color-shade
  span.bg-color-dark.m-1 margin-1
  span.bg-color-dark.m-2 margin-2
  span.bg-color-dark.m-3 margin-3
  span.bg-color-dark.m-4 margin-4
  span.bg-color-dark.m-5 margin-5

h2 Padding

div.bg-color-shade
  span.bg-color-dark.p-1 padding-1
  span.bg-color-dark.p-2 padding-2
  span.bg-color-dark.p-3 padding-3
  span.bg-color-dark.p-4 padding-4
  span.bg-color-dark.p-5 padding-5
