#outer-box.d-flex.justify-content-around.align-items-center.bg-color-shade.mb-3(style='height:250px;')
  .bg-color-dark(style='width:100px;height:100px;') Other
  .bg-color-success(style='width:100px;height:100px;' v-outer.click="{root: '#outer-box', callback: onOuterClick}") Target
  .bg-color-dark(style='width:100px;height:100px;') Other
