p Add listener for the event that occurs outer of the element.

#outer-box.d-flex.justify-content-around.align-items-center.bg-color-shade.mb-3(style='height:150px;')
  .bg-color-dark(style='width:25%;height:100px;') Other
  .bg-color-success(style='width:25%;height:100px;' v-outer.click="{root: '#outer-box', listener: onOuterClick}") Target
  .bg-color-dark(style='width:25%;height:100px;') Other
