//- test page.
extends ../layout/layout.pug

block title
  title= 'Test Page'

block content
  div(class='hero-banner pad-large')
    div(class='hero-background filter gray' style=`background-image:url('${imageSrc[0]}');`)
    div(class='hero-content font-accent align-center' style='font-size:1.4em;')
      h1(class='color-primary') COSMOS-CSS
      p The css framework for personal practice.

  section(class='pad')
    anchored-tag(tag='h1' owned) Toast
    include ../includes/toast
    anchored-tag(tag='h1' owned) Collapse
    include ../includes/collapse
