//- test page.
extends ../layout/layout.pug

block title
  title= 'Moss-UI'

block content
  div(class='hero-banner pad-large')
    div(class='hero-background filter gray' style=`background-image:url('${imageSrc[0]}');`)
    div(class='hero-content font-accent align-center' style='font-size:1.4em;')
      h1(class='color-primary') MOSS-UI
      p The user interface framework for front-end.

  section(class='pad')
    anchored-tag(tag='h1' owned) Form
    include ../includes/form
