//- test page.
extends ../layout/layout.pug

block title
  title= 'Test Page'

block content
  div(class='hero-banner pad-large')
    div(class='hero-background filter gray' style=`background-image:url('${imageSrc[0]}');`)
    div(class='hero-content font-accent align-center' style='font-size:1.4em;')
      h1(class='color-primary') COSMOS-CSS
      p The css framework for personal practice.

  section(class='pad')
    h1 Dropdown
    include ../includes/dropdown
    h1 CloseBtn
    include ../includes/close-button
    h1 Toast
    <anchored-heading :level="1">Close Btn</anchored-heading>
    include ../includes/toast
    <chip closeable>test</chip>
    <chip img-src="https://www.cloudschool.org/static/user_images/avatar-04.gif" closeable>avatar</chip>
