//- test page.
extends ../layout/layout.pug

block title
  title= 'Moss-UI'

block content
  div(class='hero-banner pad-large')
    div(class='hero-background filter gray' style=`background-image:url('${imageSrc[0]}');`)
    div(class='hero-content font-accent align-center' style='font-size:1.4em;')
      h1(class='color-primary') MOSS-UI
      p The user interface framework for front-end.

  section.pad
    <svg width="200" height="200" xmlns="http://www.w3.org/2000/svg">
      <defs>
        <linearGradient id="Gradient">
          <stop offset="0" stop-color="white" stop-opacity="0" />
          <stop offset="1" stop-color="white" stop-opacity="1" />
        </linearGradient>
        <mask id="Mask">
          <rect x="0" y="0" width="200" height="200" fill="url(#Gradient)"  />
        </mask>
      </defs>
      <rect x="0" y="0" width="200" height="200" fill="green" />
      <rect x="0" y="0" width="200" height="200" fill="black" mask="url(#Mask)" />
    </svg>

  section.pad
    div.group
      input-check.font-small(name='is-small') small
      input-check(name='is-normal') normal
      input-check.font-large(name='is-large') large

    div.group
      input-radio(name='input-radio' class='font-small' value='small') small
      input-radio(name='input-radio' value='medium') medium
      input-radio(name='input-radio' class='font-large' value='large') large

    div.group
      input-check(name='use-toggle' class='toggle') Toggle
      input-check(name='is-good' class='toggle') Good

    div.group
      input-radio(name='toggle-radio' class='toggle' value='male') Male
      input-radio(name='toggle-radio' class='toggle' value='female') Female

    anchored-tag(tag='h1' owned) Form
    include ../includes/form
