//- test page.
extends ../layout/layout.pug

block title
  title= 'Test Page'

block content
  div(class='hero-banner pad-large')
    div(class='hero-background filter gray' style=`background-image:url('${imageSrc[0]}');`)
    div(class='hero-content font-accent align-center' style='font-size:1.4em;')
      h1(class='color-primary') COSMOS-CSS
      p The css framework for personal practice.

  section(class='pad')
    h1 Dropdown
    include ../includes/dropdown
    h1 CloseBtn
    include ../includes/close-btn
    h1 Toast
    include ../includes/toast
