//- js modules page
extends ../layout/layout.pug

block title
  title= 'js libraries'

block append content
  div(class='row')
    aside(class='col-md-2 hide-only-mobile')
      ul(class='list fixed')
        li
          a(href='#color') Color
        li
          a(href='#element-util') ElementUtil
        li
          a(href='#util') Util

    section(class='col-md-10')
      h1(id='color') Color
      hr
      include ../includes/color.pug

      h1(id='element-util') ElementUtil
      hr
      include ../includes/element-util.pug

      h1(id='util') Util
      hr
      include ../includes/util.pug

block append script
  script.
    //
