//- js modules page
extends ../layout/layout.pug

block title
  title= 'JS Libraries'

block append content
  div(class='row')
    aside(class='col-md-2 hide-only-mobile')
      ul(class='list fixed')
        li(is='anchored-tag' tag='li') Color
        li(is='anchored-tag' tag='li') ElementUtil
        li(is='anchored-tag' tag='li') Util

    section(class='col-md-10')
      anchored-tag(tag='h1' owned) Color
      include ../includes/color
      anchored-tag(tag='h1' owned) ElementUtil
      include ../includes/element-util
      anchored-tag(tag='h1' owned) Util
      include ../includes/util
