//- scss helpers.
extends ../layout/layout.pug

block title
  title= 'SCSS Helpers'

block content
  div(class='row')
    aside(class='col-md-2 hide-only-mobile')
      ul(class='menu list fixed')
        li(is='anchored-tag' tag='li') Helper
        li(is='anchored-tag' tag='li') Text
        li(is='anchored-tag' tag='li') Flex

    section(class='col-md-10')
      anchored-tag(tag='h1' owned) Helper
      include ../includes/helper
      anchored-tag(tag='h1' owned) Text
      include ../includes/text
      anchored-tag(tag='h1' owned) Flex
      include ../includes/flex
