//- Vue Components.
extends ../layout/layout.pug

block title
  title= 'Vue Components'

block append content
  div(class='row')
    aside(class='col-md-2 hide-only-mobile')
      ul(class='menu list fixed')
        li(is='anchored-tag' tag='li') Carousel
        li(is='anchored-tag' tag='li') Chip
        li(is='anchored-tag' tag='li') Collapse
        li(is='anchored-tag' tag='li') Dropdown
        li(is='anchored-tag' tag='li') Message
        li(is='anchored-tag' tag='li') Modal
        li(is='anchored-tag' tag='li') Nav
        li(is='anchored-tag' tag='li') Parallax
        li(is='anchored-tag' tag='li') Simple CRUD
        li(is='anchored-tag' tag='li') Switch
        li(is='anchored-tag' tag='li') Tab
        li(is='anchored-tag' tag='li') Toast
        li(is='anchored-tag' tag='li') Tree

    section(class='col-md-10')
      anchored-tag(tag='h1' owned) Carousel
      include ../includes/carousel
      anchored-tag(tag='h1' owned) Chip
      include ../includes/chip
      anchored-tag(tag='h1' owned) Collapse
      include ../includes/collapse
      anchored-tag(tag='h1' owned) Dropdown
      include ../includes/dropdown
      anchored-tag(tag='h1' owned) Message
      include ../includes/message
      anchored-tag(tag='h1' owned) Modal
      include ../includes/modal
      anchored-tag(tag='h1' owned) Nav
      include ../includes/navbar
      anchored-tag(tag='h1' owned) Parallax
      include ../includes/parallax
      anchored-tag(tag='h1' owned) Simple CRUD
      include ../includes/simple-crud
      anchored-tag(tag='h1' owned) Switch
      include ../includes/switch
      anchored-tag(tag='h1' owned) Tab
      include ../includes/tab
      anchored-tag(tag='h1' owned) Toast
      include ../includes/toast
      anchored-tag(tag='h1' owned) Tree
      include ../includes/tree
