//============================================================
// Form tags
//============================================================

fieldset {
  margin-bottom: 1rem;
  border: $fieldset-border-width solid $fieldset-border-color;
  @include border-radius($fieldset-border-radius);
  @each $name, $color in $color-set {
    &.#{$name} {
      border-color: $color;
      > legend { color: $color !important; }
    }
  }
}

legend {
  padding: .25rem .5rem;
  font-weight: bold;
  font-size: 1.1em;
  color: $fieldset-border-color;
}

label {
  display: inline-block;
  margin-bottom: .25rem;
  font-weight: bold;
  color: $label-color;
}

// input common
input,
select,
textarea {
  color: inherit;
  vertical-align: middle;
  // default outline color
  outline-color: $input-outline-color;
}

// input generalize
input:not([type]),
input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
input[type="time"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="tel"],
input[type="number"],
input[type="search"],
select,
textarea {
  width: 100%;
  min-height: $input-height;
  padding: $input-padding-y $input-padding-x;
  line-height: 1.4;
  background-color: transparent;
  border: $input-border-width solid $input-border-color;
  @include border-radius($input-radius);

  @each $name, $color in $color-set {
    &.#{$name} {
      @if $auto-input-bg-color-enable {
        background-color: rgba($color, .1);
      }

      border-color: $color;
      outline-color: $color;
    }
  }

  &[disabled],
  &[readonly] {
    background-color: $input-disabled-bg-color;
  }
}

input[type="text"] {
  &.password,
  &.pw {
    -webkit-text-security: disc;
  }
}

textarea {
  height: 12em; // default height.
  &.inline { height: auto; }
}

input[type="submit"],
input[type="button"],
input[type="reset"] {
  @extend %btn;
  @extend %btn-disabled;
  @extend %btn-color-set;
}

input[type="checkbox"],
input[type="radio"] {
  width: $input-height * .6;
  height: $input-height * .6;
  vertical-align: middle;
}

input[type="range"] {
  width: 100%;
}

input[type="color"] {
  width: $input-height * 1.5;
  height: $input-height;
  padding: 0;
}

//============================================================
// Form helpers
//============================================================

%form-inline {
  width: auto;
}

.form-inline {
  display: inline;
  padding: 0;
  margin: 0;

  @include form-inline-target {
    @extend %form-inline;
  }

  textarea { height: auto; }
}

@include form-inline-target {
  &.inline {
    @extend %form-inline;
  }
}

.form-group {
  margin-bottom: 1rem;
}

//============================================================
// Input with icons
//============================================================

%input-icon {
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: $input-height;
  height: $input-height;
  pointer-events: none;
}

.input {
  position: relative;
  max-width: 100%;

  &.inline { display: inline-block; }

  &.with-icon,
  &.with-icon-right {
    input { padding-right: $input-height; }
  }

  &.with-icon-left {
    input { padding-left: $input-height; }
  }

  > .icon,
  > .icon-right {
    @extend %input-icon;
    @include position-middle-right(0);
  }

  > .icon-left {
    @extend %input-icon;
    @include position-middle-left(0);
  }
}
