@mixin _banner-padding-y($size) {
  padding-top: $size;
  padding-bottom: $size;

  @include media-only-mobile {
    padding-top: $size / 2;
    padding-bottom: $size / 2;
  }
}

.hero-banner {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: $hero-banner-min-height;

  &.pad-sm { @include _banner-padding-y($hero-banner-pad-sm); }
  &.pad { @include _banner-padding-y($hero-banner-pad); }
  &.pad-lg { @include _banner-padding-y($hero-banner-pad-lg); }
}

.hero-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $z-index-hero-background;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &.filter {
    @include filter-set;
  }
}

.hero-content {
  z-index: $z-index-hero-content;
  flex: 0 0 auto;
}
