//============================================================
// Theme
//============================================================

// Fonts
//==============================

// font-families
$font-serif: Georgia, serif !default;
$font-sans-serif: Geneva, sans-serif !default;
$font-monospace: Consolas, Courier, monospace !default;
$font-cursive: cursive !default;

// Theme font-family
$font-base: $font-sans-serif !default;
$font-accent: $font-serif !default;

// font-size
$font-size: 1em !default;
$font-size-small: .8em !default;
$font-size-large: 1.2em !default;

// font-weight
$font-weight-light: lighter !default;
$font-weight-normal: normal !default;
$font-weight-bold: bold !default;

// Colors
//==============================

// colors from scss-palette
// @links  https://archco.github.io/scss-palette/
$white: palette('white') !default;
$black: palette('jet') !default;
$light-gray: palette('gainsboro') !default;
$medium-gray: palette('medium-gray') !default;
$dark-gray: palette('dim-gray') !default;
$teal: palette('teal') !default;
$light-blue: palette('natural-blue') !default;
$green: palette('pigment-green') !default;
$red: palette('chili-red') !default;
$yellow: palette('natural-yellow') !default;

// theme-colors
$primary-color: palette('go-green') !default;
$primary-color-accent: lighten($primary-color, 12%) !default;
$secondary-color: palette('hookers-green') !default;

// background colors
$background-color: $white !default;
$background-color-invert: $black !default;
$background-color-shade: rgba($background-color-invert, .1) !default;

// text colors
$text-color: $black !default;
$text-color-invert: $white !default;
$text-color-weak: rgba-to-rgb(rgba($text-color, .67), $background-color) !default;
$text-color-strong: $primary-color-accent !default;
$text-color-light: if(lightness($text-color) > 50, $text-color, $text-color-invert) !default;
$text-color-dark: if(lightness($text-color) > 50, $text-color-invert, $text-color) !default;
$text-color-middle: mix($text-color-light, $text-color-dark) !default;

// color variables
$default-color: mix($background-color, $background-color-invert) !default;
$light-color: $text-color-light !default;
$dark-color: $text-color-dark !default;
$shade-color: rgba-to-rgb($background-color-shade, $background-color) !default;
$info-color: $teal !default;
$success-color: $green !default;
$danger-color: $red !default;
$error-color: $red !default;
$warning-color: $yellow !default;
$link-color: $light-blue !default;
$shadow-color: rgba(#000, .3) !default;
$border-color: $medium-gray !default;
$border-width: 1px !default;
$disabled-color: rgba($medium-gray, .33) !default;

// color-set
$color-set: (
  // Default color is half value of between background-color and background-color-invert.
  default: $default-color,
  primary: $primary-color,
  secondary: $secondary-color,
  info: $info-color,
  success: $success-color,
  warning: $warning-color,
  danger: $danger-color,
  error: $danger-color,
  light: $light-color,
  dark: $dark-color,
  shade: $shade-color,
  link: $link-color,
) !default;

// Options
//============================

$enable-rounded: true !default;
$enable-shadows: true !default;
$enable-transitions: true !default;

// Spacing
//============================

$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge((
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
), $spacers);

$space-1: map-get($spacers, 1);
$space-2: map-get($spacers, 2);
$space-3: map-get($spacers, 3);
$space-4: map-get($spacers, 4);
$space-5: map-get($spacers, 5);

$negative-spacers: negativify-map($spacers) !default;

// Grid
//============================

$grid-breakpoints: (
  base: 0, // Applies all width size.
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
) !default;

$grid-columns: 12 !default;
$grid-gutter-width: $space-4 !default;

// Grid containers
$container-max-widths: (
  sm: 96%,
  md: 92%,
  lg: 88%,
  xl: 88%,
) !default;

// Misc
//==============================

$default-focus-outline: 2px solid $primary-color !default;
$outline-color: $primary-color !default;
$body-line-height: 1.5 !default;
$position-default-offset: 5% !default;

// transition
$transition-duration: .3s !default;
$transition-timing-function: ease-out !default;
$transition-all: all $transition-duration $transition-timing-function !default;

// radius
$radius-normal: 4px !default;
$radius-small: round($radius-normal / 2) !default;
$radius-large: round($radius-normal * 2) !default;
$radius-button: $radius-small !default;
$rounded-pill: 50rem !default;

// shadow
$shadow-near: 1px 1px 4px $shadow-color !default;
$shadow-normal: 2px 2px 8px $shadow-color !default;
$shadow-far: 4px 4px 16px $shadow-color !default;
$shadow-inset-near: inset $shadow-near !default;
$shadow-inset-normal: inset $shadow-normal !default;
$shadow-inset-far: inset $shadow-far !default;

//============================================================
// Z-index Lists
//============================================================

$z-index-hero-background:     1 !default;
$z-index-hero-content:        2 !default;
$z-index-message:             2 !default;
$z-index-card:                2 !default;
$z-index-card-content:        3 !default;
$z-index-header:              10 !default;
$z-index-footer:              10 !default;
$z-index-nav:                 10 !default;
$z-index-fixed:               12 !default;
$z-index-sticky:              12 !default;
$z-index-dropdown-content:    14 !default;
$z-index-tooltip:             14 !default;
$z-index-scroll-button:       16 !default;
$z-index-modal:               18 !default;
$z-index-toast:               20 !default;

//============================================================
// Scaffolding
//============================================================

// link colors
$link-color-hover: darken($link-color, 8%) !default;
$link-color-visited: $link-color !default;
$link-decoration: none !default;
$link-hover-decoration: underline !default;

// table
$table-cell-padding: .75em !default;
$table-border-width: 1px !default;
$table-border-color: $border-color !default;
$table-head-bg-color: $primary-color !default;
$table-head-text-color: get-contrast($table-head-bg-color) !default;
$table-text-color: inherit !default;
$table-row-even-bg: rgba($background-color-invert, .05) !default;
$table-row-hover-bg: rgba($background-color-invert, .1) !default;

// blockquote
$blockquote-color: $text-color-weak !default;
$blockquote-border-color: $background-color-shade !default;

// footer
$footer-bg-color: $primary-color !default;
$footer-link-hover-color: get-contrast($footer-bg-color) !default;
$footer-color: rgba($footer-link-hover-color, .85) !default;
$footer-link-color: $footer-color !default;
$footer-copyright-color: $footer-color !default;
$footer-copyright-bg-color: rgba(#000, .1) !default;

//============================================================
// SCSS Parts
//============================================================

// code
$code-padding-y: .15em !default;
$code-padding-x: .25em !default;
$code-font-size: .85em !default;
$code-bg-color: rgba($background-color-invert, .05) !default;
$code-color: get-contrast(rgba-to-rgb($code-bg-color, $background-color)) !default;
$code-border-radius: $radius-normal !default;
$code-block-padding-y: 1em !default;
$code-block-padding-x: 1em !default;
$code-block-line-height: 1.45 !default;
$kbd-color: strongen($text-color-weak, 15%) !default;
$kbd-bg-color: $background-color !default;
$kbd-border-color: $border-color !default;

// form
$fieldset-border-width: 1px !default;
$fieldset-border-color: $primary-color !default;
$fieldset-border-radius: $radius-normal !default;
$legend-padding-y: $space-1 !default;
$legend-padding-x: $space-2 !default;
$label-color: $text-color !default;

$input-line-height: $body-line-height !default;
$input-height: 2em !default;
$input-padding-y: .2em !default;
$input-padding-x: .5em !default;
$input-bg-color: $background-color !default;
$input-border-width: 1px !default;
$input-border-color: $border-color !default;
$input-radius: $radius-small !default;
$input-outline-color: $outline-color !default;
$input-disabled-bg-color: $disabled-color !default;
// If $auto-input-bg-color-enable is true,
// background-color of color-set input set automatically.
// If value is false, background-color set transparent.
$auto-input-bg-color-enable: true !default;

// form validation
$form-feedback-margin-top: $space-1 !default;
$form-feedback-font-size: $font-size-small !default;
$form-feedback-valid-color: $success-color !default;
$form-feedback-invalid-color: $danger-color !default;

// list
$list-border-width: 1px !default;
$list-border-color: $border-color !default;
$list-padding-y: .6em !default;
$list-padding-x: .3em !default;
$list-group-padding-y: .4em !default;
$list-group-padding-x: .8em !default;
$list-group-padding: .4em .8em !default;
$list-group-border-radius: $radius-normal !default;
$list-group-hover-bg-color: rgba($background-color-invert, .1) !default;
$list-group-active-bg-color: $primary-color !default;
$list-group-active-color: get-contrast($list-group-active-bg-color) !default;
$breadcrumb-separator: '/' !default;
$breadcrumb-space: .4em !default;

// badge
$badge-font-size: .85em !default;
$badge-border-radius: $radius-small !default;
$badge-default-color: $default-color !default;

// button
$button-radius: $radius-small !default;
$button-color: $text-color-light !default;
// If $auto-button-color-enable set true,
// button-color in color-set set automatically that based by contrast of background-color.
$auto-button-color-enable: true !default;
$button-default-bg-color: $primary-color !default;
$button-flat-default-bg-color: $link-color !default;
$button-outline-color: $outline-color !default;
$button-padding-y: .5em !default;
$button-padding-x: 1em !default;
$button-margin: .2em !default;

// card
$card-size: 300px !default;
$card-size-small: 200px !default;
$card-size-large: 400px !default;
$card-radius: $radius-small !default;
$card-shadow: $shadow-normal !default;
$card-hover-shadow: $shadow-far !default;
$card-bg-color: $background-color !default;
$card-title-color: $text-color-invert !default;
$card-content-padding-y: .5em !default;
$card-content-padding-x: .5em !default;

// pagination
$pagination-margin: $space-3 0 !default;
$pagination-color: $text-color !default;
$pagination-bg-color: transparent !default;
$pagination-hover-color: $text-color !default;
$pagination-hover-bg-color: $background-color-shade !default;
$pagination-active-bg-color: $primary-color !default;
$pagination-active-color: get-contrast($pagination-active-bg-color) !default;
$pagination-disabled-color: $text-color-weak !default;
$pagination-item-margin-y: 0 !default;
$pagination-item-margin-x: $space-1 !default;
$pagination-item-padding-y: .2em !default;
$pagination-item-padding-x: .67em !default;
$pagination-item-border-radius: $radius-small !default;

// image
$image-overlay-base-opacity: .67 !default;
$image-overlay-transition: $transition-duration * 2 !default;
$image-overlay-bg-color: $background-color-invert !default;

// helper
$caret-width: .25em !default;

// hero-banner
$hero-banner-min-height: 10em !default;
$hero-banner-pad-small: 3em !default;
$hero-banner-pad-medium: 6em !default;
$hero-banner-pad-large: 9em !default;

//============================================================
// Vue Components
//============================================================

// dropdown
$dropdown-bg-color: $background-color !default;
$dropdown-bg-hover-color: rgba(#000, .15) !default;
$dropdown-padding-y: .35em !default;
$dropdown-padding-x: .7em !default;
$dropdown-line-height: $body-line-height !default;
$dropdown-item-hover-color: get-contrast($dropdown-bg-color) !default;
$dropdown-item-color: rgba($dropdown-item-hover-color, .8) !default;
$dropdown-active-bg-color: rgba(#000, .15) !default;
$dropdown-active-color: get-contrast($dropdown-bg-color) !default;
$dropdown-min-width: 120px !default;
$dropdown-shadow: $shadow-normal !default;
$dropdown-header-color: $text-color-weak !default;
$dropdown-header-font-size: 1em !default;
$dropdown-divider-margin-y: $space-1 !default;
$dropdown-divider-color: $border-color !default;

// navbar
$nav-bg-color: $background-color !default;
$nav-active-color: $primary-color !default;
$nav-link-color: inherit !default;
$nav-link-hover-color: $secondary-color !default;
$nav-link-padding-y: .5em !default;
$nav-link-padding-x: 1em !default;
$nav-font: $font-accent !default;
$nav-font-size: 1.25em !default;
$nav-line-height: 1.25 !default;
$navbar-toggle-width: 35px !default;
$navbar-header-height: auto !default;

// nav-drawer
$nav-drawer-base-width: 280px !default;
$nav-drawer-widths: (
  sm: 67%,
  md: 50%,
  lg: 33%,
  xl: 25%,
) !default;
$nav-drawer-shadow: $shadow-normal !default;
$nav-drawer-header-padding-y: $space-2 !default;
$nav-drawer-header-padding-x: $space-2 !default;
$nav-drawer-header-font-size: 2rem !default;
$nav-drawer-header-bg-color: $background-color !default;
$nav-drawer-header-color: $text-color !default;
$nav-drawer-body-font-size: 1em !default;
$nav-drawer-body-bg-color: $background-color !default;
$nav-drawer-body-color: $text-color !default;
$nav-drawer-menu-header-color: $text-color-weak !default;
$nav-drawer-menu-item-hover-bg-color: $shade-color !default;
$nav-drawer-menu-item-active-bg-color: $shade-color !default;
$nav-drawer-menu-item-disabled-color: $text-color-middle !default;
$nav-drawer-menu-divider-color: $border-color !default;

// scroll-button
$scroll-button-bg-color: $primary-color-accent !default;
$scroll-button-color: get-contrast($scroll-button-bg-color) !default;

// modal
$modal-mask-color: rgba(0, 0, 0, .5) !default;
$modal-content-bg-color: $background-color !default;
$modal-header-bg-color: $background-color !default;
$modal-close-button-color: rgba($danger-color, .5) !default;
$modal-close-button-hover-color: rgba($danger-color, 1) !default;
$modal-effect-duration: .4s !default;

// tab
$tab-font: $font-base !default;
$tab-font-size: 1em !default;
$tab-color: $text-color-weak !default;
$tab-hover-color: darken($tab-color, 15%) !default;
$tab-border-color: $border-color !default;
$tab-border-width: 1px !default;
$tab-active-color: $primary-color !default;
$tab-active-border-width: 3px !default;
$tab-active-font-weight: bold !default;

// v-tooltip
$tooltip-color: $text-color-invert !default;
$tooltip-bg-color: rgba($background-color-invert, .8) !default;
$tooltip-padding-y: .5em !default;
$tooltip-padding-x: 1em !default;
$tooltip-font-size: .9rem !default;
$tooltip-border-radius: $radius-small !default;

// collapse - accordion
$accordion-border-width: 1px !default;
$accordion-border-color: $border-color !default;
$accordion-head-padding: .5em 1em !default;
$accordion-head-active-bg-color: $primary-color !default;
$accordion-head-active-color: get-contrast($accordion-head-active-bg-color) !default;
$accordion-border-radius: $radius-normal !default;

// chip
$chip-font-size: .85em !default;
$chip-height: 2em !default; // unit:em, This value is base of local variables of chip.
$chip-bg-color: $background-color-shade !default;

// toast
$toast-font-size: 1em !default;
$toast-min-width: 10em !default;
$toast-padding-y: .8em;
$toast-padding-x: .5em;
$toast-text-color: $text-color-invert !default;
$toast-bg-color: rgba($background-color-invert, .85) !default;
$toast-border-radius: $radius-normal !default;
$toast-container-position-offset: 5% !default;

// message
$message-default-bg-color: $default-color !default;
$message-padding-y: $space-3 !default;
$message-padding-x: $space-4 !default;
$message-margin: 8px !default;
$message-border-radius: $radius-normal !default;

// simple-crud
$simple-crud-min-height: 3em !default;
$simple-crud-padding-x: $space-2 !default;
$simple-crud-margin-bottom: $space-2 !default;

// carousel
$carousel-dot-color: rgba($text-color-light, .5) !default;
$carousel-dot-active-color: $text-color-light !default;
$carousel-nav-button-color: rgba($text-color-light, .5) !default;
$carousel-nav-button-hover-color: $text-color-light !default;
$carousel-nav-button-font-size: 2 * $font-size !default;

// search
$search-button-bg-color: $primary-color !default;
$search-result-border-width: 1px !default;
$search-result-border-color: $border-color !default;
$search-result-bg-color: $background-color !default;
$search-result-item-focus-color: $shade-color !default;
