//- test page.
extends ../layout/layout.pug

block title
  title= 'Moss-UI'

block content
  div(class='hero-banner pad-large')
    div(class='hero-background filter gray' style=`background-image:url('${imageSrc[3]}');`)
    div(class='hero-content font-accent text-center' style='font-size:1.4em;')
      h1.color-primary(style='text-shadow: 0px 1px 2px #000;') MOSS-UI
      p.color-light(style='text-shadow: 0px 1px 2px #000;') The front-end UI framework with Vue.js and SCSS.
      div.w-75.mx-auto(style='font-size:1rem;')
        include ../partials/search-module

  section.pad
    anchored-tag(tag='h1' class='fragment' owned) Navbar
    include ../includes/navbar
