//- js modules page
extends ../layout/layout.pug

block title
  title= 'JS Libraries'

block append content
  div(class='row')
    aside(class='sidebar col-md-2 hide-only-mobile bg-light')
      div.my-3
        include ../partials/search-module
      ul(class='list')
        li(is='anchored-tag' tag='li') Color
        li(is='anchored-tag' tag='li') ElementUtil
        li(is='anchored-tag' tag='li') Util

    section(class='offset-md-2 col-md-10')
      anchored-tag(tag='h1' class='fragment' owned) Color
      include ../includes/color
      anchored-tag(tag='h1' class='fragment' owned) ElementUtil
      include ../includes/element-util
      anchored-tag(tag='h1' class='fragment' owned) Util
      include ../includes/util
