//- Example for ScrollFire
extends ../layout/layout.pug

block title
  title= 'ScrollFire'

block content
  div.scroll-fire-box-1.hero-banner.pad-large
    div
      h1.color-light ScrollFire
      a.btn.info(href='#' style='display:none;') See More
  div.scroll-fire-box-2.hero-banner.pad-large
    icon(name='moss-icon')
  div.scroll-fire-box-3.hero-banner
    h1.color-light ScrollFire

