//- scss helpers.
extends ../layout/layout.pug

block title
  title= 'SCSS Helpers'

block content
  div(class='row')
    aside(class='sidebar col-md-2 hide-only-mobile bg-light' v-cloak)
      div.my-3
        include ../partials/search-module
      ul(class='list')
        li(is='anchored-tag' tag='li') Helper
        li(is='anchored-tag' tag='li') Sizing
        li(is='anchored-tag' tag='li') Spacing
        li(is='anchored-tag' tag='li') Text
        li(is='anchored-tag' tag='li') Flex

    section(class='offset-md-2 col-md-10')
      anchored-tag(tag='h1' class='fragment' owned) Helper
      include ../includes/helper
      anchored-tag(tag='h1' class='fragment' owned) Sizing
      include ../includes/sizing
      anchored-tag(tag='h1' class='fragment' owned) Spacing
      include ../includes/spacing
      anchored-tag(tag='h1' class='fragment' owned) Text
      include ../includes/text
      anchored-tag(tag='h1' class='fragment' owned) Flex
      include ../includes/flex
