//- SCSS Parts
extends ../layout/layout.pug

block title
  title= 'SCSS Parts'

block append content
  div(class='row')
    aside(class='sidebar col-md-2 hide-only-mobile bg-light')
      div.my-3
        include ../partials/search-module
      ul(class='list')
        li(is='anchored-tag' tag='li') Scaffolding
        li(is='anchored-tag' tag='li') Code
        li(is='anchored-tag' tag='li') Badge
        li(is='anchored-tag' tag='li') Button
        li(is='anchored-tag' tag='li') Card
        li(is='anchored-tag' tag='li') Form
        li(is='anchored-tag' tag='li') Input Group
        li(is='anchored-tag' tag='li') Grid
        li(is='anchored-tag' tag='li') Helper
        li(is='anchored-tag' tag='li') Image
        li(is='anchored-tag' tag='li') List
        li(is='anchored-tag' tag='li') Loader
        li(is='anchored-tag' tag='li') Pagination
    section(class='offset-md-2 col-md-10')
      anchored-tag(tag='h1' class='fragment' owned) Scaffolding
      include ../includes/scaffolding.pug
      anchored-tag(tag='h1' class='fragment' owned) Code
      include ../includes/code.pug
      anchored-tag(tag='h1' class='fragment' owned) Badge
      include ../includes/badge.pug
      anchored-tag(tag='h1' class='fragment' owned) Button
      include ../includes/button.pug
      anchored-tag(tag='h1' class='fragment' owned) Card
      include ../includes/card.pug
      anchored-tag(tag='h1' class='fragment' owned) Form
      include ../includes/form.pug
      anchored-tag(tag='h1' class='fragment' owned) Input Group
      include ../includes/input-group.pug
      anchored-tag(tag='h1' class='fragment' owned) Grid
      include ../includes/grid.pug
      anchored-tag(tag='h1' class='fragment' owned) Helper
      a(href='scss-helpers.html') SCSS Helpers
      anchored-tag(tag='h1' class='fragment' owned) Image
      include ../includes/image.pug
      anchored-tag(tag='h1' class='fragment' owned) List
      include ../includes/list.pug
      anchored-tag(tag='h1' class='fragment' owned) Loader
      include ../includes/loader.pug
      anchored-tag(tag='h1' class='fragment' owned) Pagination
      include ../includes/pagination.pug
