//- svg icons
extends ../layout/layout.pug

block title
  title= 'SVG'

block content
  div.row
    aside.sidebar.col-md-2.hide-only-mobile.bg-light
      div.my-3
        include ../partials/search-module
      ul.list
        li(is='anchored-tag' tag='li') Icons

    section.offset-md-2.col-md-10
      anchored-tag(tag='h1' class='fragment' owned) Icons
      include ../includes/icon
