//- vue directives.
extends ../layout/layout.pug

block title
  title= 'Vue Directives'

block content
  div(class='row')
    aside(class='sidebar col-md-2 hide-only-mobile bg-light' v-cloak)
      div.my-3
        include ../partials/search-module
      ul(class='list' v-scrollspy="{activeClass: 'bg-shade', activeTarget: 'self', offset: 100}")
        li(is='anchored-tag' tag='li') v-focus
        li(is='anchored-tag' tag='li') v-trigger
        li(is='anchored-tag' tag='li') v-modal
        li(is='anchored-tag' tag='li') v-clipboard
        li(is='anchored-tag' tag='li') v-set-value
        li(is='anchored-tag' tag='li') v-tooltip
        li(is='anchored-tag' tag='li') v-ripple
        li(is='anchored-tag' tag='li') v-outer

    section(class='offset-md-2 col-md-10')
      include ../includes/directives
      anchored-tag(tag='h1' class='fragment' owned) v-tooltip
      include ../includes/v-tooltip
      anchored-tag(tag='h1' class='fragment' owned) v-ripple
      include ../includes/v-ripple
      anchored-tag(tag='h1' class='fragment' owned) v-outer
      include ../includes/v-outer
