//- Vue Components.
extends ../layout/layout.pug

block title
  title= 'Vue Components'

block append content
  div(class='row')
    aside(class='col-md-2 hide-only-mobile')
      ul(class='menu list fixed')
        li(is='anchored-tag' tag='li') Carousel
        li(is='anchored-tag' tag='li') Chip
        li(is='anchored-tag' tag='li') CloseButton
        li(is='anchored-tag' tag='li') Collapse
        li(is='anchored-tag' tag='li') Dropdown
        li(is='anchored-tag' tag='li') Message
        li(is='anchored-tag' tag='li') Modal
        li(is='anchored-tag' tag='li') Navbar
        li(is='anchored-tag' tag='li') NavDrawer
        li(is='anchored-tag' tag='li') Parallax
        li(is='anchored-tag' tag='li') Search
        li(is='anchored-tag' tag='li') SimpleCRUD
        li(is='anchored-tag' tag='li') Tab
        li(is='anchored-tag' tag='li') Toast
        li(is='anchored-tag' tag='li') Tree

    section(class='col-md-10')
      anchored-tag(tag='h1' class='fragment' owned) Carousel
      include ../includes/carousel
      anchored-tag(tag='h1' class='fragment' owned) Chip
      include ../includes/chip
      anchored-tag(tag='h1' class='fragment' owned) CloseButton
      include ../includes/close-button
      anchored-tag(tag='h1' class='fragment' owned) Collapse
      include ../includes/collapse
      anchored-tag(tag='h1' class='fragment' owned) Dropdown
      include ../includes/dropdown
      anchored-tag(tag='h1' class='fragment' owned) Message
      include ../includes/message
      anchored-tag(tag='h1' class='fragment' owned) Modal
      include ../includes/modal
      anchored-tag(tag='h1' class='fragment' owned) Navbar
      include ../includes/navbar
      anchored-tag(tag='h1' class='fragment' owned) NavDrawer
      include ../includes/nav-drawer
      anchored-tag(tag='h1' class='fragment' owned) Parallax
      include ../includes/parallax
      anchored-tag(tag='h1' class='fragment' owned) Search
      include ../includes/search
      anchored-tag(tag='h1' class='fragment' owned) SimpleCRUD
      include ../includes/simple-crud
      anchored-tag(tag='h1' class='fragment' owned) Tab
      include ../includes/tab
      anchored-tag(tag='h1' class='fragment' owned) Toast
      include ../includes/toast
      anchored-tag(tag='h1' class='fragment' owned) Tree
      include ../includes/tree
